<?php

// Default kolab-specific folders. Set values to non-empty
// strings to create default folders of apropriate type.
// If there is no default folder with specified type in user mailbox,
// it will be created.
// Note: Mail folders will be also subscribed.

// Default Configuration folder
$rcmail_config['kolab_folders_configuration_default'] = '';
// Default Calendar folder
$rcmail_config['kolab_folders_event_default'] = '';
// Default Contacts (Addressbook) folder
$rcmail_config['kolab_folders_contact_default'] = '';
// Default Tasks folder
$rcmail_config['kolab_folders_task_default'] = '';
// Default Notes folder
$rcmail_config['kolab_folders_note_default'] = '';
// Default Journal folder
$rcmail_config['kolab_folders_journal_default'] = '';

// INBOX folder
$rcmail_config['kolab_folders_mail_inbox'] = '';
// Drafts folder
$rcmail_config['kolab_folders_mail_drafts'] = '';
// Sent folder
$rcmail_config['kolab_folders_mail_sentitems'] = '';
// Trash folder
$rcmail_config['kolab_folders_mail_wastebasket'] = '';
// Others folders
$rcmail_config['kolab_folders_mail_outbox'] = '';
$rcmail_config['kolab_folders_mail_junkemail'] = '';

?>
