<?php

// This will overwrite defined LDAP filter
// Note: LDAP addressbook defined for kolab_auth plugin is used
$rcmail_config['kolab_delegation_filter'] = '(objectClass=kolabInetOrgPerson)';

// Delegates field (from fieldmap configuration) to get delegates list
// Note: This is a field name, not LDAP attribute name
// Note: LDAP addressbook defined for kolab_auth plugin is used
$rcmail_config['kolab_delegation_delegate_field'] = 'kolabDelegate';

// User authentication ID field (from fieldmap configuration)
// See kolab_auth plugin config
$rcmail_config['kolab_delegation_login_field'] = 'email';

// Use this fields (from fieldmap configuration) for identities
// If the value array contains more than one field, first non-empty will be used
// Note: These aren't LDAP attributes, but field names in config
// Note: If there's more than one email address, as many identities will be created
// See kolab_auth plugin config
$rcmail_config['kolab_delegation_name_field']  = array('name', 'cn');
$rcmail_config['kolab_delegation_email_field'] = array('email');

// Remove all user identities which do not match the user's primary or alias
// addresses and delegator's addresses
$rcmail_config['kolab_delegation_purge_identities'] = false;

?>
