<?php
    /* Configuration for libkolab */

    $rcmail_config['kolab_cache'] = true;
    $rcmail_config['kolab_format_version']  = '3.0';

    $rcmail_config['kolab_freebusy_server'] = 'https://' . $_SESSION['imap_host'] . '/freebusy';
    $rcmail_config['kolab_ssl_verify_peer'] = true;

?>
